<app-navigation-bar></app-navigation-bar>
<div class="login-container">
    <form class="login-form" (submit)="handleLogin()">
        <h1 class="login-title">Login</h1>
        <p>Bitte meldet euch als Mitarbeiter:in der Universität zu Köln mit euren Unidaten an oder wählt als Studierende den link zur Gastanmeldung.</p>
        
        <div class="input-group">
            <label for="emailInput">Email *:</label>
            <input type="email" [(ngModel)]="email" id="emailInput" required>
        </div>

        <div class="input-group">
            <label for="passwordField">Passwort *:</label>
            <div class="password-wrapper">
                <input type="{{ passwordFieldType }}" [(ngModel)]="password" id="passwordField" required>
                <span class="toggle-password" (click)="togglePasswordVisibility()">👁️</span>
            </div>
        </div>

        <a href="passwort-vergessen.html" class="forgot-password-link">Passwort vergessen?</a>

        <div class="button-group">
            <button type="submit" class="login-button">Login</button>
            <button type="button" class="unikim-button" (click)="navigateToRoleSelection()">uniKIM</button>
        </div>

        <a href="../chat" class="guest-link">Gastanmeldung</a>

        <div class="stay-logged-in">
            <input type="checkbox" id="stayLoggedInCheckbox">
            <label for="stayLoggedInCheckbox">Angemeldet bleiben</label>
        </div>
    </form>
</div>
