@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container styles */
.login-container {
    display: grid;
    place-items: center;
    min-height: 90vh;
    padding: 20px;
    background-color: #f0f0f0;
    font-family: "Rubik", sans-serif;
    font-size: 25px;
}

.login-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Success message */
.success-message {
    text-align: center;
    color: green;
    font-size: 20px;
    margin-bottom: 10px;
}

/* Error message */
.error-message {
    text-align: center;
    color: red;
    font-size: 20px;
    margin-bottom: 10px;
}

.bild {
    height: 40px; /* Höhe auf die Höhe der Schriftgröße einstellen */
    width: 1px; /* Automatische Breite basierend auf der Höhe */
    margin-right: 400px; /* Abstand zwischen Flagge und Text */
    background-size: 100% 49494%;
    flex-shrink: 0;
}

/* Title */
.login-title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
}

/* Input group */
.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.password-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

#passwordField {
    width: 100%;
}

.toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 16px;
}

.forgot-password-link {
    text-align: center;
    color: var(--color-accent);
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 10px;
}

.forgot-password-link:hover {
    text-decoration: underline;
}

/* Button group */
.button-group {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.login-button,
.unikim-button {
    animation: 0.5s ease-out 0s 1 normal none running fadeInFromNone;
    cursor: pointer;
    pointer-events: all;
    position: relative;
    text-align: center;
    font-family: "Rubik", sans-serif;
    border-radius: 60px;
    padding: 3px 15px;
    font-size: 20px;
    font-weight: 500;
    opacity: 1;
    line-height: 19px;
    margin-top: auto;
    margin-bottom: 24px;
    height: 55px;
    touch-action: manipulation;
}

/* Guest link */
.guest-link {
    display: block;
    text-align: center;
    color: var(--color-primary);
    text-decoration: none;
    font-size: 20px;
    margin-top: 10px;
}

.guest-link:hover {
    text-decoration: underline;
}

/* Stay logged in */
.stay-logged-in {
    display: flex;
    align-items: center;
    font-size: 20px;
}

#stayLoggedInCheckbox {
    margin-right: 10px;
}
