<app-navigation-bar></app-navigation-bar>
<div class="login-container">
    <form class="login-form" (submit)="handleLogin()">
        <h1 class="login-title">Login</h1>
        <p>{{ text_p }}</p>

        <!-- Success message for registration -->
        <div *ngIf="registrationSuccessful" class="success-message">
            Registration successful! You can now log in.
        </div>

        <div class="input-group">
            <label for="emailInput">Email *:</label>
            <input type="email" [(ngModel)]="email" id="emailInput" name="email" required>
        </div>

        <div class="input-group">
            <label for="passwordField">{{ password_field }}</label>
            <div class="password-wrapper">
                <input type="{{ passwordFieldType }}" [(ngModel)]="password" id="passwordField" name="password" required>
                <span class="toggle-password" (click)="togglePasswordVisibility()">👁️</span>
            </div>
        </div>

        <a href="passwort-vergessen.html" class="forgot-password-link">{{ forgot_password }}</a>

        <div class="button-group">
            <button mat-raised-button color="primary" type="button" class="unikim-button" (click)="register()">Register</button>
            <button mat-raised-button color="primary" type="submit" class="login-button">Login</button>
            <button mat-raised-button color="primary" type="button" class="unikim-button" (click)="navigateToRoleSelection()">uniKIM</button>
        </div>

        <a routerLink="/chat" routerLinkActive="active" class="guest-link">{{ guest_login }}</a>

        <div class="stay-logged-in">
            <input type="checkbox" id="stayLoggedInCheckbox">
            <label for="stayLoggedInCheckbox">{{ remain_signedIn }}</label>
        </div>
    </form>
</div>
