@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Hinzufügen eines halbtransparenten Overlays, um den Fokus auf die Cookie-Benachrichtigung zu lenken */
.cookie-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    font-family: "Rubik", sans-serif;
}

/* Stil für die Cookie-Benachrichtigung */
.cookie-notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    border: 1px solid #ccc;
}

.cookie-notification p {
    font-size: 20px;
}

.cookie-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.cookie-buttons button:first-child {
    animation: 0.5s ease-out 0s 1 normal none running fadeInFromNone;
    cursor: pointer;
    pointer-events: all;
    position: relative;
    text-align: center;
    font-family: "Rubik", sans-serif;
    border-radius: 60px;
    padding: 3px 15px;
    font-size: 20px;
    font-weight: 500;
    opacity: 1;
    line-height: 19px;
    margin-top: auto;
    margin-bottom: 24px;
    height: 55px;
    touch-action: manipulation;
    background-color: black;
    color: white;
}

.cookie-buttons button:hover {
    cursor: pointer;
}

.cookie-buttons button:last-child {
    animation: 0.5s ease-out 0s 1 normal none running fadeInFromNone;
    cursor: pointer;
    pointer-events: all;
    position: relative;
    text-align: center;
    font-family: "Rubik", sans-serif;
    border-radius: 60px;
    padding: 3px 15px;
    font-size: 20px;
    font-weight: 500;
    opacity: 1;
    line-height: 19px;
    margin-top: auto;
    margin-bottom: 24px;
    height: 55px;
    touch-action: manipulation;
    color: black;
    background-color: white;
}

/* Media Query für kleinere Bildschirme */
@media screen and (max-width: 768px) {
    .cookie-notification {
        width: 70%;
        height: auto;
        font-size: 12px;
    }
}

img {
    width: 80px;
    height: auto;
    margin-right: 10px;
    background-color: white;
}