@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

h1 {
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
  font-family: 'Rubik', sans-serif;
}

mat-form-field {
  width: 100%;
}

textarea {
  min-height: 200px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  body {
    padding: 10px;
  }

  mat-form-field {
    width: 100%;
  }
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-family: 'Rubik', sans-serif;
  width: 100%;
  box-sizing: border-box;
  gap: 20px;
}

.feature-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  max-height: 400px;
  overflow-y: auto;
}

.feature h2 {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin: 0;
}

.feature {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  word-wrap: break-word;
  width: 100%;
  box-sizing: border-box;
  min-height: 100px; /* Added to ensure minimum height for each box */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.allAnswers {
  margin-top: 15px;
  background-color: rgb(243, 243, 243);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.selected {
  box-shadow: 0 0 10px var(--color-primary);
  animation: glow 1s infinite alternate;
}

.question_details {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  overflow: auto;
  word-wrap: break-word;
  width: 100%;
  box-sizing: border-box;
}

.selectedAnswers {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

@media (max-width: 880px) {
  .feature h2 {
    font-size: 11px;
  }

  .main-content {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .feature-grid {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    gap: 10px;
  }

  .question_details {
    grid-row: 2 / 3;
    padding: 20px;
    font-size: 11px;
  }

  .container {
    padding: 20px;
  }

  .feature {
    padding: 10px;
    min-width: 150px;
    min-height: 100px; /* Added to ensure minimum height for each box on small screens */
  }
}