
.language-overlay{
    position: fixed; /* Festes Positionieren, um das Overlay über der Seite zu halten */
    top: 0; /* Abstand vom oberen Rand des Viewports */
    left: 0; /* Abstand vom linken Rand des Viewports */
    width: 100%; /* Volle Breite des Viewports */
    height: 100%; /* Volle Höhe des Viewports */
    background-color: rgba(0, 0, 0, 0.5); /* Halbtransparentes Overlay mit schwarzem Hintergrund */
    z-index: 999; /* Stelle sicher, dass das Overlay über anderen Inhalten liegt */
}


.language-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-family: 'Ubuntu', sans-serif;
    width: 700px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    // Ändere die Positionierung des Close-Buttons
    .close-button {
        position: absolute; // Positionierung relativ zum Elternelement (.language-popup)
        top: 10px; // Abstand vom oberen Rand des Elternelements
        right: 10px; // Abstand vom rechten Rand des Elternelements
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
    }
    #title {
        margin-bottom: 10px; // Verringere den Abstand zum oberen Rand des Containers
        font-size:30px;
        font-family: 'Ubuntu', sans-serif;

 

    }
    .dropdown-menu{
        text-align: left; // Text links ausrichten
        margin-left: 20px; // Abstand zum linken Rand hinzufügen
        margin-bottom: 2px; // Abstand zwischen der Überschrift und dem Dropdown-Menü
        font-family: 'Ubuntu', sans-serif;
    }
    

    #languageSelect{
    
        margin-top: 10px; // Ändere den Abstand des Dropdown-Menüs zum Titel
        width: 400px; // Ändere die Breite des Dropdown-Menüs
        height: 40px; // Ändere die Höhe des Dropdown-Menüs
        font-family: 'Ubuntu', sans-serif;
        font-size:20px;
    
    }
    #accept{
        font-family: 'Ubuntu', sans-serif;
        font-size:20px;
        
    }
}




