
<div class="interview">
    <div class="questions">
      <div *ngIf="getQuestion(selectedQuestion)">
        <h2>{{ getQuestion(selectedQuestion).question }}</h2>
      </div>
    </div>
  
  
    <div class="answers">
      <div *ngIf="getQuestion(selectedQuestion)">
        <ng-container *ngIf="getQuestion(selectedQuestion).answers; else noAnswers">

            <!-- Multiple Choice-->
            <div class="MultipleChoiceAnswers" *ngIf="getQuestion(selectedQuestion).answer_type=='multiple_choice'">
                <mat-button-toggle-group  multiple>
                    <mat-button-toggle *ngFor="let answer of getAnswersArray(getQuestion(selectedQuestion).answers || [])" >{{ answer }}</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <!-- Single Choice-->
            <div class="MultipleChoiceAnswers" *ngIf="getQuestion(selectedQuestion).answer_type=='single_choice'">
                <mat-button-toggle-group >
                    <mat-button-toggle *ngFor="let answer of getAnswersArray(getQuestion(selectedQuestion).answers || [])">{{ answer }}</mat-button-toggle>
                </mat-button-toggle-group>
            </div>

            <!-- Writing -->
            <div *ngIf="getQuestion(selectedQuestion).answer_type=='writing'">

                <mat-label>Answer</mat-label>
                <input matInput #message maxlength="256" placeholder="Ex. I need help with...">
            </div>

            <!-- Dropdown -->
            <div *ngIf="getQuestion(selectedQuestion).answer_type=='dropdown'">
                <mat-form-field>
                    <mat-select placeholder="Antwort">
                        <mat-option *ngFor="let answer of getAnswersArray(getQuestion(selectedQuestion).answers || [])" [value]="answer">
                            {{ answer }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            

        </ng-container>
        <ng-template #noAnswers>
            <p>Keine Antworten vorhanden</p>
        </ng-template>
      </div>
    </div>
  </div>
  