@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  box-sizing: border-box;
}

.interview {

    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding-bottom: 30px;

}

@media (max-width: 768px) {
  .interview {
    flex-direction: column;
    max-width: none;
    width: 100%;
  }
}

.questions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 420px;
  margin-right: 92px;
  position: relative;
}

.question-container {
  width: 100%;
  position: relative;
}

.question-container h2 {
  font-size: 50px;
  animation: text-animation 1s ease-in-out;
  overflow: wrap;
}

@keyframes text-animation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.NavigationButtons {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 20px;
  animation: fadeIn 0.5s ease-in-out;
  
}

.NavigationButtons button {
  cursor: pointer;
  pointer-events: all;
  text-align: center;
  background: black;
  color: white;
  border-radius: 60px;
  padding: 25px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  width: fit-content;
  height: fit-content;
}

.NavigationButtons button:first-child img {
  box-sizing: border-box;
  width: 14px;
  height: 12px;
}

.NavigationButtons button:last-child::after {
  content: " ";
  margin-left: 12px;
  right: 80px;
  top: 21px;
  width: 14px;
  height: 12px;
  background: url("../../../assets/ForwardArrow.png") 0% 0% / 100% 100%;
}

.answers {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  width: 50%;
  min-height: 100%;
}

.answers div {
  width: 100%;
}

.MultipleChoiceAnswers {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: left;
}

mat-button-toggle-group {
  flex-wrap: wrap;
  gap: 10px;
  outline: none;
  padding: 20px;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 25px 5px;
  border-radius: 30px;
  overflow-y: auto;
}

.mat-button-toggle {
  background-color: white;
  border-radius: 60px;
  font-family: "Rubik", sans-serif;
  padding: 0px 0px;
  margin: 0px 12px 12px 0px;
  border: 1px solid black;
  font-size: 20px;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.mat-button-toggle-checked {
  background-color: var(--color-primary) !important;
  font-family: "Rubik", sans-serif;
  margin: 0px 12px 12px 0px;
  font-size: 20px;
  color: white !important;
  border: none !important;
  border-radius: 60px;
  filter: contrast(1.5);
}

.mat-button-toggle:hover {
  background-color: var(--color-primary-lighter) !important;
  color: white !important;
  border: none !important;
}

.mat-button-toggle-group-appearance-standard .mat-button-toggle-appearance-standard+.mat-button-toggle-appearance-standard {
  background-color: white;
  border-radius: 60px;
  font-family: "Rubik", sans-serif;
  padding: 0px 0px;
  margin: 0px 12px 12px 0px;
  border: 1px solid black;
  font-size: 20px;
}

mat-button-toggle-group {
  flex-wrap: wrap;
  gap: 10px;
  outline: none;
  padding: 20px;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 25px 5px !important;
  border-radius: 30px;
  background-color: white;
}

.mat-mdc-form-field {
  min-width: 100%;
}

textarea {
  min-height: 150px;
}

.dropdown-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

.answers .NavigationButtons {
  display: none;
}

@media screen and (max-width: 768px) {
  .questions {
    justify-content: center;
    width: 100%;

  }

  .questions .question-container h2 {
    text-align: center;
    font-size: 30px;
  }

  .questions .NavigationButtons {
    display: none;
  }

  .answers .NavigationButtons {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 30px;
  }

  .answers div {
    width: fit-content;
  }

  .answers {
    width: 100%;
    max-width: none;
  }
}
