<div class="interview">
    <div class="questions">
      <div  class="question-container">
        <h2 id="h2">{{ currentQuestionText }}</h2>
        <div  *ngIf="showButtons" class="NavigationButtons" >
          <button  *ngIf="showButtons" mat-raised-button style="background-color: white; color: white" (click)="navigateToPreviousQuestion()">
            <img src="assets/backwardsArrow.png">
          </button>
          <button  *ngIf="showButtons" mat-raised-button style="background-color: black; color: white" (click)="navigateToNextQuestion(userSelection)">
            <span>Weiter</span>
          </button> 
        </div>
      </div>
    </div> 
  
   
    <div class="answers">
      <div >
        <ng-container>
          <!-- Multiple Choice bzw Selectable-->
          <div class="MultipleChoiceAnswers" *ngIf="canIShowButtons()=='selectable'">
            <mat-button-toggle-group [hideMultipleSelectionIndicator]="true" #userSelection="matButtonToggleGroup" multiple>
              <mat-button-toggle *ngFor="let answer of getAnswersArray2()" [value]="answer" [checked]="isAnswerSelected2(answer)" #toggleButton (click)="toggleAnswer2(answer, toggleButton.checked)">{{ answer }}</mat-button-toggle>
            </mat-button-toggle-group>
          </div>

  
          <!-- Writing bzw editable-->
          <div *ngIf="canIShowButtons()=='editable'">
            <mat-form-field>
              <mat-label>Message</mat-label>
              <textarea matInput #message="ngModel" [(ngModel)]="TextInput" name="message" required maxlength="256" placeholder="In 5 Jahre sehe ich mich als Ingenieur" (blur)="saveAnswerText2(TextInput)"></textarea>
              <mat-hint align="end">{{message.value?.length || 0}} / 256</mat-hint>
              <mat-error *ngIf="message.invalid && (message.dirty || message.touched)">Message is required.</mat-error>
            </mat-form-field>
          </div>
  
          <!-- Dropdown bzw numerical-->
          <div *ngIf="canIShowButtons()=='numerical'">
            <mat-form-field>
              <mat-select placeholder="Antwort" [(value)]="selected" (selectionChange)="saveAnswerText2($event.value)">
                <mat-option *ngFor="let answer of  getAnswersArray2()" [value]="answer">{{ answer }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div *ngIf="canIShowButtons()!='selectable' || canIShowButtons()!='numerical' || canIShowButtons()!='editable'">

          </div>
        
        </ng-container>
        
        <ng-template #noAnswers>
          <p>Keine Antworten vorhanden</p>
        </ng-template>
        <div  *ngIf="showButtons" class="NavigationButtons">
          <button  *ngIf="showButtons" mat-raised-button style="background-color: white; color: white" (click)="navigateToPreviousQuestion()">
            <img src="../../../assets/backwardsArrow.png">
          </button>
  
          <button   *ngIf="showButtons" mat-raised-button style="background-color: black; color: white" (click)="navigateToNextQuestion(userSelection)">
            <span>Weiter</span> 
          </button>
        </div>
        
      </div>
    </div> 
  
  </div>
  