<div class="interview">
    <div class="questions">
      <div *ngIf="getQuestion(selectedQuestion)">

        <h2>{{ getQuestion(selectedQuestion).question }}</h2>
        
        </div>
        <div class="NavigationButtons">
            <button mat-raised-button style ="background-color: white;color:white" (click)="navigateToPreviousQuestion()"><img src="../../../assets/backwardsArrow.png"></button>
        
            <button mat-raised-button style ="background-color: black;color:white" (click)="navigateToNextQuestion(userSelection)">
                <span>Weiter </span> 
            </button>
        </div>

        <h2>{{ currentQuestionText  }}</h2>
      </div>

    </div>
  
    <div class="answers">
      <div *ngIf="getQuestion(selectedQuestion)">
        <ng-container>

            <!-- Multiple Choice-->
            <div class="MultipleChoiceAnswers" *ngIf="getQuestion(selectedQuestion).answer_type=='multiple_choice'">
                <mat-button-toggle-group [hideMultipleSelectionIndicator]="true" #userSelection="matButtonToggleGroup" multiple>
                    <mat-button-toggle *ngFor="let answer of getAnswersArray(getQuestion(selectedQuestion).answers || [])" [value]="answer">{{ answer }}</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <!-- Single Choice-->
            <div class="MultipleChoiceAnswers" *ngIf="getQuestion(selectedQuestion).answer_type=='single_choice'">
                <mat-button-toggle-group [hideSingleSelectionIndicator]="true" #userSelection="matButtonToggleGroup">
                    <mat-button-toggle *ngFor="let answer of getAnswersArray(getQuestion(selectedQuestion).answers || [])" [value]="answer">{{ answer }}</mat-button-toggle>
                </mat-button-toggle-group>
            </div>

            <!-- Writing -->
            <div  *ngIf="getQuestion(selectedQuestion).answer_type=='writing'">

                <mat-form-field>
                    <mat-label>Message</mat-label>
                    <textarea matInput #message="ngModel" [(ngModel)]="TextInput" name="message" required maxlength="256" placeholder="In 5 Jahre sehe ich mich als Ingenieur"></textarea>
                    <mat-hint align="end">{{message.value?.length || 0}} / 256</mat-hint>
                    <mat-error *ngIf="message.invalid && (message.dirty || message.touched)">
                        Message is required.
                    </mat-error>
                </mat-form-field>
            </div>

            <!-- Dropdown -->
            <div  *ngIf="getQuestion(selectedQuestion).answer_type=='dropdown'">
                <mat-form-field>
                    <mat-select  placeholder="Antwort" [(value)]="selected">
                        <mat-option *ngFor="let answer of getAnswersArray(getQuestion(selectedQuestion).answers || [])" [value]="answer">
                            {{ answer }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            

        </ng-container>
        <ng-template #noAnswers>
            <p>Keine Antworten vorhanden</p>
        </ng-template>
        <div class="NavigationButtons">
            <button mat-raised-button style ="background-color: white;color:white" (click)="navigateToPreviousQuestion()"><img src="../../../assets/backwardsArrow.png"></button>
        
            <button mat-raised-button style ="background-color: black;color:white" (click)="navigateToNextQuestion(userSelection)">
                <span>Weiter </span> 
            </button>
        </div>
      </div>
    </div>
</div>

  