@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


.interview {
    display: flex;
    gap: 40px;


  
    
}



.interview .questions {
    max-width: 50%;
    flex-basis: 100%;
    flex-wrap: wrap;
    text-wrap: wrap;
    margin-bottom: 10px;
}

.interview .questions div h2 {
    font-size: 50px;
    animation: text-animation 1s ease-in-out;
    overflow: auto;
}

@keyframes text-animation {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.interview .answers {
    justify-content: center;
    margin-top: 40px;
    max-width: 50%;
    width: 50%;
    min-height: 100%;;
 

}

.MultipleChoiceAnswers {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: left;
    
}



mat-button-toggle-group { //Rahmen in dem alle Antwort buttons sind;
    flex-wrap: wrap;
 
    gap: 10px;
    outline: none;
    padding: 20px; /* Fügt innen Abstand hinzu und vergrößert somit den Rahmen */
    margin: 20px;  /* Fügt außen Abstand hinzu und vergrößert den Abstand um den Rahmen herum */
    box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 25px 5px;
    border-radius: 30px; /* Fügt abgerundete Ecken hinzu */
   
}
//nur für die Auswahl ,,Englisch"
.mat-button-toggle { 
   
    border: none;
    background-color: white;
    border-radius: 30px;
    font-family: "Rubik", sans-serif;
    padding:24px 42px;   /* Du kannst die Polsterung hier hinzufügen oder ändern */
    margin: 0px 12px 12px 0px;  
    border: 1px solid black;  /* Du kannst die Rahmenfarbe und -breite hier ändern */
    border-radius: 30px;
    font:14px;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.mat-button-toggle-checked {
    background-color: var(--color-primary) !important;
    font-family: "Rubik", sans-serif;
    padding:24px 42px;   /* Du kannst die Polsterung hier hinzufügen oder ändern */
    margin: 0px 12px 12px 0px;  
    font:14px;
    color:white !important;
    border: none !important;
    border-radius: 30px;
    
}

.mat-button-toggle:hover {
    background-color:  var(--color-primary-lighter)!important; // Primärfarbe mit 80% Deckkraft für den Hover-Effekt
    color: white !important;
   border:none !important;
}

//Aussehen fuer jeden einzelnden Antwort button;
.mat-button-toggle-group-appearance-standard .mat-button-toggle-appearance-standard+.mat-button-toggle-appearance-standard {
    border: none;
    background-color: white;
    border-radius: 30px;
    font-family: "Rubik", sans-serif;
    padding: 24px 42px; /* Du kannst die Polsterung hier hinzufügen oder ändern */
    margin: 0px 12px 12px 0px;    /* Du kannst den Abstand hier hinzufügen oder ändern */
    border: 1px solid black;  /* Du kannst die Rahmenfarbe und -breite hier ändern */
    font:14px;
 
}

.mat-mdc-form-field {
    min-width: 100%;

   
}

textarea {
    min-height: 150px;
  
}

.dropdown-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
  
  
}

.NavigationButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.NavigationButtons button {
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Rubik", sans-serif;
}