<nav class="navbar">
    <a [routerLink]="['/']" routerLinkActive="active">
        <div class="navbar-logo">
            <img src="assets/OIG3-removebg-preview.ico" alt="WISO Köln Logo" style="height: 80px;">
            <span class="navbar-title">PACO</span>
        </div>
    </a>

    <!-- Checkbox input for the menu button -->
    <input type="checkbox" id="menu-btn" class="menu-btn" (change)="toggleMenu()" />

    <!-- Label for the checkbox input (Hamburger menu icon) -->
    <label for="menu-btn" class="navbar-hamburger">
        <span></span>
        <span></span>
        <span></span>
    </label>

    <!-- Navigation links container -->
<div class="navbar-menu" [class.show]="isMenuOpen">
        <div class="navItem"><a [routerLink]="['/login']" routerLinkActive="active">{{ login_button }}</a></div>
        <div class="navItem"><a [routerLink]="['/impressum']" routerLinkActive="active">{{ legalNotice_button }}</a></div>
        <div class="navItem"><a [routerLink]="['/contact']" routerLinkActive="active">{{ contact_button }}</a></div> 
        <div class="navItem"><a [routerLink]="['/privacypolicy']" routerLinkActive="active">{{ privacypolicy_button }}</a></div> 
        <div class="navItem"><a [routerLink]="['/faq']" routerLinkActive="active">{{ faq_button }}</a></div>

        <div class="navbar-language">
            <img src="assets/900782.png" alt="Sprachauswahl" (click)="openLanguagePopup()">
        </div>
    </div>
</nav>