@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  padding: 10px 0;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

#token {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

p {
  margin-bottom: -20px;
}

.button, .fa {
  border-radius: 40px;
  cursor: pointer;
  color: white !important;
  background-color: black !important;
  font-family: 'Rubik', sans-serif;
}

.img {
  max-height: 5px !important;
}

.hint {
  color: red;
  margin-top: 10px;
  font-size: 0.9rem;
}
