<h2 mat-dialog-title>Dein Token</h2>

<mat-dialog-content class="mat-typography">
  <p>
    Speichere dein Token, um später auf deine Antworten zugreifen zu können.
  </p>
  <p>Dein Token:</p>
  <b id="token">{{ token }}</b>

  <mat-checkbox [(ngModel)]="acceptedPolicy">
    Ich akzeptiere die Datenschutzerklärung
  </mat-checkbox>
  <div *ngIf="!acceptedPolicy && showHint" class="hint">
    Sie müssen die Datenschutzerklärung akzeptieren, um fortzufahren.
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button class="button" mat-raised-button [disabled]="!acceptedPolicy" (click)="onOkClick()">OK</button>
  <button class="fa fa-copy" mat-raised-button [cdkCopyToClipboard]="token" cdkFocusInitial>Copy</button>
</mat-dialog-actions>
