<app-navigation-bar></app-navigation-bar>

<div class="container">
    <div class="content">
        <div class="question">
            <h2>{{personalizedQuestion}}</h2>
            <div class="navigationButton" *ngIf="showButton">
              <button mat-raised-button (click)="navigateToNextPage()">
                  <span>Weiter</span> 
              </button>
          </div>
        </div>
        
        <div class="answer">
            <mat-form-field>
                <mat-label>Message</mat-label>
                <textarea matInput #message="ngModel" [(ngModel)]="TextInput" name="message" required maxlength="256" placeholder="In 5 Jahre sehe ich mich als Ingenieur" (blur)="saveAnswerText(personalizedQuestion, TextInput)"></textarea>
                <mat-hint align="end">{{message.value?.length || 0}} / 256</mat-hint>
                <mat-error *ngIf="message.invalid && (message.dirty || message.touched)">Message is required.</mat-error>
            </mat-form-field>
        </div>
    </div>
</div>



