/* progressbar.component.scss */
.progressbar {
    display: flex;
    justify-content: space-between;
    list-style-type: none; /* Listenstil entfernen */
   

  }
  
  .progressbar div {
    flex-grow: 1;
    cursor: pointer;
    background-color: #ccc;
    padding: 10px;
    text-align: center;
    user-select: none; /* Deaktiviert die Textauswahl */
    border: 1px solid #000;
  }
  
  .progressbar div.current {
    background-color: #ffc107; /* Hintergrundfarbe für die aktuelle Frage */
  }
  
  .progressbar div.answered {
    background-color: #28a745; /* Hintergrundfarbe für beantwortete Fragen */
  }
  
  .progressbar div.unanswered {
    background-color: #ccc;
    opacity: 0.5; /* Reduzierte Deckkraft für nicht beantwortete Fragen */
  }
