<div class="progressbar">
  <div *ngFor="let question of questions; let i = index"
       [ngStyle]="{ 'background-color': getBackgroundColor(i) }"
       (click)="navigateToQuestion(i)">
    Frage {{ i + 1 }}
  </div>
</div>

<div class="interview">
  <div class="questions">
    <div *ngIf="currentQuestion">
      <h2>{{ currentQuestion.question }}</h2>
    </div>
  </div>


  <div class="answers">
    <div *ngIf="currentQuestion">
      <ng-container *ngIf="currentQuestion.answers; else noAnswers">
        <div *ngFor="let answer of getAnswersArray(currentQuestion.answers)">
          <mat-checkbox>{{ answer }}</mat-checkbox>
        </div>
      </ng-container>
      <ng-template #noAnswers>
        <p>Keine Antworten verfügbar.</p>
      </ng-template>
    </div>
  </div>
</div>


