@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* progressbar.component.scss */
.progressbar {
    display: flex;
    justify-content: space-between;
    list-style-type: none; /* Listenstil entfernen */
   

  }
  
  .progressbar div {
    font-family: "Poppins", sans-serif;
    flex-grow: 1;
    cursor: pointer;
    background-color: #ccc;
    padding: 10px;
    text-align: center;
    user-select: none; /* Deaktiviert die Textauswahl */
    border: 1px solid #ffffff;
  }
  
  .progressbar div:first-child {
    border-top-left-radius: 10px; /* Abgerundete Ecken oben links */
    border-bottom-left-radius: 10px; /* Abgerundete Ecken unten links */
  }

  .progressbar div:last-child {
    border-top-right-radius: 10px; /* Abgerundete Ecken oben rechts */
    border-bottom-right-radius: 10px; /* Abgerundete Ecken unten rechts */
  }

  .progressbar div.current {
    background-color: var(--color-accent); /* Hintergrundfarbe für die aktuelle Frage */
  }
  
  .progressbar div.answered {
    background-color: var(--color-primary); /* Hintergrundfarbe für beantwortete Fragen */
  }
  
  .progressbar div.unanswered {
    background-color: #ccc;
    opacity: 0.5; /* Reduzierte Deckkraft für nicht beantwortete Fragen */
  }
