@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: "Rubik", sans-serif;
    background-size: cover;
    height: fit-content;
}


/* Hero Section styles */
.hero {
    height: 70vh;
    background-size: cover;
    padding: 50px;
    text-align: center;
    align-content: center;
}

.hero-content h1 {
    font-size: 4rem;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.cta-button {
    animation: 0.5s ease-out 0s 1 normal none running fadeInFromNone;
    cursor: pointer;
    pointer-events: all;
    position: relative;
    text-align: center;
    background: black !important;
    color: white !important;
    font-family: "Rubik", sans-serif;
    border-radius: 60px;
    padding: 18px 40px;
    font-size: 20px;
    font-weight: 500;
    opacity: 1;
    line-height: 19px;
    margin-top: auto;
    margin-bottom: 24px;
    height: 55px;
    touch-action: manipulation;
}

.cta-button:hover {
    padding: 18px 30px;
}

/* Features Section styles */
.features {
    padding: 20px;
    text-align: center;
}

.features h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.features h3 {
    font-size: 20px;
}

.features p {
    font-size: 18px;
}

.feature-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.feature {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .cta-button {
        font-size: 1.2rem;
    }

    nav ul {
        display: none;
    }

    .feature-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .feature {
        max-width: 346px;
    }
}