<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PACO Landing Page</title>
    <link rel="stylesheet" href="landing-page.component.scss">
</head>

<body>
    <!-- Header -->
    <app-navigation-bar></app-navigation-bar>
   
    <!-- Hero Section -->
    <section class="hero">
        <div class="hero-content">
            <h1>{{ title_h1 }}</h1> <!-- Dynamischer Titel -->
            <p>{{  title_p }}</p>
            <a mat-raised-button color="primary" routerLink="/chat" routerLinkActive="active" class="cta-button">Chat</a>
        </div>
    </section>
    <app-cookie-banner *ngIf="showCookieNotification" (accept)="onAccept()" (decline)="onDecline()"></app-cookie-banner>
    <router-outlet></router-outlet>
    <!-- Features Section -->
    <section class="features">
       
        <h2>{{  title_h2 }}</h2>
        <div class="feature-grid">
            <div class="feature">
                <h3>{{  kasten1_h3 }}</h3>
                <p>{{  kasten1_p }}</p>
            </div>
            <div class="feature">
                <h3>{{  kasten2_h3 }}</h3>
                <p>{{  kasten2_p }}</p>
            </div>
            <div class="feature">
                <h3>Unterstützung</h3>
                <p>Erhalten Sie prompt Antworten auf all Ihre Fragen.</p>
                <h3>{{  kasten3_h3 }}</h3>
                <p>{{  kasten3_p }}</p>
            </div>
        </div>
    </section>

</body>

</html>
