/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-image: url(../../assets/background.png);
    background-size: cover;

}


/* Hero Section styles */
.hero {
    height: 800px;
    background-size:  cover;
    padding: 50px;
    text-align: center;
    filter: brightness(0.8);
    align-content: center;
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero-content p {
    margin-bottom: 20px;
}

.cta-button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    background-color: #90BF2A;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    transition: padding 0.3s;
    margin: 12px;
}

.cta-button:hover {
    background-color: #81ab26;
    color: white;
    padding: 15px 25px;
}

/* Features Section styles */
.features {
    padding: 50px;
    text-align: center;
}

.features h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.feature-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.feature {
    
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Responsive styles */
@media (max-width: 768px) {
    nav ul {
        display: none;
    }

    .feature-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .feature{
        max-width: 346px;
    }
}
