<!-- chatbot-page.component.html -->
<app-navigation-bar></app-navigation-bar>

<br><br><br>

<section class="intro">
  <div class="interview-container">
    <div>
      <app-progressbar2 [currentQuestionIndex]="currentQuestionIndex" [questions]="questions" (navigate)="navigateToQuestion($event)"></app-progressbar2>
      <div *ngIf="questions.length > 0">
        <h2>{{ questions[currentQuestionIndex].question }}</h2>
      </div>
    </div>

    <app-interview [selectedQuestionIndex]="currentQuestionIndex" [questions]="questions"></app-interview>
  </div>
  <div id="tokendiv">
    <p id="token">Token: 6525026284</p>
  </div>
</section>




