<nav class="navbar">
    <div class="navbar-logo">
        <img src="assets/wiso-logo.png" alt="WISO Köln Logo" style="height: 80px;">
        <span class="navbar-title">PACO</span>
    </div>
    
    <ul class="navbar-links">
        <li><a routerLink="/login" routerLinkActive="active">Anmelden</a></li>
        <li><a routerLink="/Impressum" routerLinkActive="active">Impressum</a></li>
        <li><a routerLink="/Kontakt" routerLinkActive="active">Kontakt</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>



