/* Navbar styling */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.navbar {
    background-color: #f2f2f2; /* Light gray background */
    color: #333; /* Dark gray color for text */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Consistent padding */
    height: 80px; /* Set consistent height for navbar */
    border-bottom: 1px solid #e0e0e0; /* Light border at the bottom for definition */
}

a {
    text-decoration: none;
}
a:visited {
    color:black;
}
/* Navbar logo styling */
.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-title {
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;

    @media (max-width: 768px) {
        font-size: 24px; /* Adjust font size for smaller screens */
    }
}

/* Navbar links styling */
.navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-end;
        margin-top: 10px;
    }
}

/* Navigation item styling */
.navItem {
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    @media (max-width: 768px) {
        margin-left: 0;
        margin-bottom: 10px;
        padding: 0px;
    }
}

/* Navigation link styling */
.navItem a {
    font-family: "Poppins", sans-serif; /* Matching font family with sidenav */
    color: #333; /* Dark gray text color */
    padding: 8px 12px;
    border-radius: 4px; /* Subtle rounding */
    text-decoration: none;
}

/* Navigation item hover effect */
.navItem:hover {
    background-color: #e0e0e0; /* Light gray hover color */
    border-radius: 4px;
    cursor: pointer;
}
@media (max-width: 768px) {
    .navItem a{
        padding: 0px;
    }
}