@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: "Rubik", sans-serif;
    background-size: cover;
    height: fit-content;
}


/* FAQ Section styles */
.faq-section {
    padding: 50px;
    text-align: center;
}

.faq-section h1 {
    font-size: 4rem;
    margin-bottom: 50px;
    margin-top: 60px; 
}

.faq-accordion {
    max-width: 800px;
    margin: 0 auto;
}

.mat-expansion-panel-header {
    padding: 12px;
    font-size: 1.5rem;
    justify-content: center;
    text-align: center;
}
mat-panel-title {
    justify-content: center;
    font-size: 16px;
}
.faq-answer {
    text-align: left;
}

.faq-answer p {
    font-size: 1rem;
}

@media (max-width: 768px) {
    .faq-section h1 {
        font-size: 2rem;
    }

    .mat-expansion-panel-header {
        font-size: 1.2rem;
    }

    .faq-answer p {
        font-size: 0.9rem;
    }
}
