<!-- Header -->
<app-navigation-bar></app-navigation-bar>

<!-- Contact Section -->
<section class="contact">
    <div class="contact-content">
        <h1>Kontakt</h1>

        <!-- SuperAdmin Contact Information -->
        <div class="contact-item">
            <h2>Email Adresse und Daten SuperAdmin (Erstmal Dekanat)</h2>
            <p>Email: <a href="mailto:dekanat@wiso.uni-koeln.de">dekanat&#64;wiso.uni-koeln.de</a></p>
            <p>
                Dekanat der Wirtschafts- und Sozialwissenschaftlichen Fakultät<br>
                der Universität zu Köln<br>
                Albertus-Magnus-Platz<br>
                50923 Köln<br>
                <br>
                Das Dekanat befindet sich im Neubau (Gebäude 101, BT 3) im ersten Stock (Raum-Nummer 1.320).
            </p>
        </div>

        <!-- Important Information -->
        <div class="contact-item">
            <h2>Wichtige Informationen</h2>
            <h3>Postanschrift</h3>
            <p>
                Wirtschafts- und Sozialwissenschaftliche Fakultät der Universität zu Köln<br>
                Albertus-Magnus-Platz<br>
                50923 Köln
            </p>
            <h3>Anfahrt</h3>
            <p>
                Wirtschafts- und Sozialwissenschaftliche Fakultät<br>
                der Universität zu Köln<br>
                Universitätsstraße 24<br>
                50931 Köln<br>
                Wir empfehlen die Parkplätze entlang der Universitätsstraße (P1). Von hier aus sind es ca. 270 m Fußweg zur WiSo-Fakultät (Neubau).<br>
                (Für den Parkplatz P2 ist ein universitätsinternes Parkticket erforderlich.)
            </p>
            <!-- Placeholder for map -->
            <div class="map-placeholder"><a href="https://maps.app.goo.gl/du3UD9acWRYKzgCv8" target="_blank"><img src="../../assets/MapContactPage.png" alt="Map of Contact Page"></a></div>
        </div>

        <!-- RRZK Helpdesk -->
        <div class="contact-item">
            <h2>Kontakt zum RRZK Helpdesk</h2>
            <p>Für alle anderen technischen Probleme besuchen Sie bitte den <a href="https://rrzk.uni-koeln.de/das-rrzk/kontakt/rrzk-helpdesk" target="_blank">RRZK Helpdesk</a>.</p>
        </div>
    </div>
</section>